<div class="boxes border-primary">
  <div class="my-5 mx-5">
    <% author =  User.find(@tweet.user_id) %>
      <%= image_tag(author.avatar, class: "avatar-image") %>
      <h4 class="tweet-font"><%= author.name %> says</h4>
      <% content = @tweet.content.split(' ') %>
      <% content = content.map do |i| %>
          <% if i.match('#') != nil %>
              <% i = link_to "#{i}", "/?utf8=✓&q=#{i.delete!"#"}&commit=Search", method: :get, local: :true %>
          <% else %>
              <% i = "#{i}" %>
          <% end %>
      <% end %>
      <% content = content.join(' ') %>
      <p class="tweet-font"><%= content.html_safe %></p>
      <p class="tweet-font main-color"><%= time_ago_in_words(@tweet.date) %></p>
  </div>
</div>

<% if Like.where(tweet_id: @tweet.id).count != 0 %>
  <h3 class="titles main">All this people likes this tweet!</h3>
<% end %>

<div class="container">
  <% likes = Like.where(tweet_id: @tweet.id) %>
  <div class="row text-center">
    <% likes.each do |like| %>
      <div class="col-sm-4 p-3">
        <% author =  User.find(like.user_id) %>
        <%= image_tag(author.avatar, class: "avatar-image") %>
      </div>
    <% end %>
  </div>
</div>