<div class="sidebar">
        <div class="logo-details">
            <i class="fab fa-twitter"></i>
            <div class="logo_name main">Fake Twitter</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

    <ul class="nav-list">
        <% if current_user %>
            <li>
                <%= link_to root_path do %>
                    <i class="fas fa-home"></i>
                    <span class="links_name main">Home</span>
                <% end %>
            </li>
            <li>
                <%= link_to edit_user_registration_path do %>
                    <i class="fas fa-user-edit"></i>
                    <span class="links_name main">Edit Profile</span>
                <% end %>
            </li>
            <li>    
                <%= link_to my_tweets_path(current_user.id) do %>
                        <i class="fas fa-user"></i>
                        <span class="links_name main">My tweets</span>
                <% end %>
            </li>
            <li>
                <%= link_to find_people_path do %>
                    <i class="fas fa-compass"></i>
                    <span class="links_name main">Find people</span>
                <% end %>
            </li>
            <li>    
                <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="links_name main">Sign out</span>
                <% end %>
            </li>
        <% else %>
            <li>
                <%= link_to root_path do %>
                    <i class="fas fa-home"></i>
                    <span class="links_name main">Home</span>
                <% end %>
            </li>
            <li>
                <%= link_to  new_user_session_path do %>
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="links_name main">Sign in</span>
                <% end %>
            </li>
            <li>
                <%= link_to new_user_registration_path do %>
                    <i class="fas fa-user-plus"></i>
                    <span class="links_name main">Sign up</span>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>


<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

  // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        }else {
            closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
        }
    }
</script>
