<% if current_user %>
    <h1 class="titles main">New Tweet!</h1>
    <%= render 'form', tweet: @tweet %>
<% end %>

<% @tweets.each do |tweet| %>

    <% if current_user %>

        <% if tweet.user_id == current_user.id %>

            <% if tweet.retweet_id != nil %>
                <div class="my-5">
                    <%= image_tag(current_user.avatar, class: "avatar-image") %>
                    <h4 class="tweet-font">You retweet</h4>
                    <div class="border border-primary rounded">
                        <% retweet_from = Tweet.find(tweet.retweet_id) %>
                        <% author = User.find(retweet_from.user_id) %>
                        <div class="my-5 mx-5">
                            <%= image_tag(author.avatar, class: "avatar-image") %>
                            <h4 class="tweet-font"><%= author.name %> says</h4>
                            <p class="tweet-font">
                                <%= retweet_from.content %>
                            </p>
                            <p class="tweet-font main-color">
                                <%= time_ago_in_words(retweet_from.date) %>
                            </p>
                        </div>
                    </div>
                    <p class="tweet-font my-2">
                        <%= tweet.content %>
                    </p>
                    <p class="tweet-font main-color">
                        <%= time_ago_in_words(tweet.date) %>
                    </p>
                    <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary tweet-font" %>
                    <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary tweet-font"%>
                </div>
            <% else %>
                <div class="my-5">
                    <%= image_tag(current_user.avatar, class: "avatar-image") %>
                    <h4 class="tweet-font">You say</h4>
                    <p class="tweet-font">
                        <%= tweet.content %>
                    </p>
                    <p class="tweet-font main-color">
                        <%= time_ago_in_words(tweet.date) %>
                    </p>
                    <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary tweet-font" %>
                    <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary tweet-font"%>
                </div>
            <% end %>

        <% else %>
            <% if tweet.retweet_id != nil %>
                <div class="my-5">
                    <% author =  User.find(tweet.user_id) %>
                        <%= image_tag(author.avatar, class: "avatar-image") %>
                        <h4 class="tweet-font"><%= author.name %> retweets</h4>
                        <div class="border border-primary rounded">
                            <% retweet_from = Tweet.find(tweet.retweet_id) %>
                            <% retweet_author = User.find(retweet_from.user_id) %>
                            <div class="my-5 mx-5">
                                <%= image_tag(retweet_author.avatar, class: "avatar-image") %>
                                <h4 class="tweet-font"><%= retweet_author.name %> says</h4>
                                <p class="tweet-font">
                                    <%= retweet_from.content %>
                                </p>
                                <p class="tweet-font main-color">
                                    <%= time_ago_in_words(retweet_from.date) %>
                                </p>
                            </div>
                        </div>
                        <p class="tweet-font my-2">
                            <%= tweet.content %>
                        </p>
                        <p class="tweet-font main-color">
                            <%= time_ago_in_words(tweet.date) %>
                        </p>
                    </div>
                <% else %>
                    <% author =  User.find(tweet.user_id) %>
                    <div class="my-5">
                        <%= image_tag(author.avatar, class: "avatar-image") %>
                        <h4 class="tweet-font"><%= author.name %> says</h4>
                        <p class="tweet-font">
                            <%= tweet.content %>
                        </p>
                        <p class="tweet-font main-color">
                            <%= time_ago_in_words(tweet.date) %>
                        </p>
                    </div>
                <% end %>

                <%= link_to 'Retweet', retweet_path(tweet.id), method: :post, class: "btn btn-primary tweet-font"%>
        <% end %>

    <% else %>

        <% if tweet.retweet_id != nil %>
            <div class="my-5">
            <% author =  User.find(tweet.user_id) %>
                <%= image_tag(author.avatar, class: "avatar-image") %>
                <h4 class="tweet-font"><%= author.name %> retweets</h4>
                <div class="border border-primary rounded">
                    <% retweet_from = Tweet.find(tweet.retweet_id) %>
                    <% retweet_author = User.find(retweet_from.user_id) %>
                    <div class="my-5 mx-5">
                        <%= image_tag(retweet_author.avatar, class: "avatar-image") %>
                        <h4 class="tweet-font"><%= retweet_author.name %> says</h4>
                        <p class="tweet-font">
                            <%= retweet_from.content %>
                        </p>
                        <p class="tweet-font main-color">
                            <%= time_ago_in_words(retweet_from.date) %>
                        </p>
                    </div>
                </div>
                <p class="tweet-font my-2">
                    <%= tweet.content %>
                </p>
                <p class="tweet-font main-color">
                    <%= time_ago_in_words(tweet.date) %>
                </p>
            </div>
        <% else %>
            <% author =  User.find(tweet.user_id) %>
            <div class="my-5">
                <%= image_tag(author.avatar, class: "avatar-image") %>
                <h4 class="tweet-font"><%= author.name %> says</h4>
                <p class="tweet-font">
                    <%= tweet.content %>
                </p>
                <p class="tweet-font main-color">
                    <%= time_ago_in_words(tweet.date) %>
                </p>
            </div>
        <% end %>

    <% end %>

<% end %>

<%= paginate @tweets %>

