<!DOCTYPE html>
<html>
  <head>
    <title>TwitterPj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1758aeb367.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/hero' %>
  <div class="container my-5">
    <% if notice %>
        <div class="alert alert-dismissible alert-primary text-center">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p class="display-3 main"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-dismissible alert-primary text-center">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p class="display-3 main"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
